/* Styles CSS */

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Header styles */
header {
  border-bottom: 2px solid black;
}

nav {
  margin-bottom: 10px;
}

/* Style the links */
header nav ul li a {
  text-decoration: none;
}

/* Change the link color on hover */
header nav ul li a:hover {
  color: #007BFF;
}

/* Footer styles */
footer {
  color: black;
  border-top: 2px solid black;
}

footer p {
  font-size: 14px;
}

/* Main content styles */
main {
  color: black;
  padding: 20px;
}