<div class="main-container">
  <div class="text">
    <h1>Groups and Projects</h1>
    <div class="groups-list">
      <% for (const group of groups) { %>
        <h2>Group: <%= group.name %></h2>
        <% for (const project of group.projects) { %>
          <h3>Project: <%= project.name %></h3>
          <p>Latest commit: <%= project.latestCommit[0].title %></p>
        <% } %>
      <% } %>
    </div>
  </div>
</div>