<header>
  <nav>
    <ul>
    <li>
      <a href="./">Home</a>
    </li>
    <% if (!isLoggedIn) { %>
      <li>
        <a href="./login">Login to GitLab</a>
      </li>
    <% } else { %>
      <li>
        <a href="./gitlab/profile">Profile</a>
      </li>
      <li>
        <a href="./gitlab/activities">Activities</a>
      </li>
      <li>
        <a href="./gitlab/groups">Groups and Projects</a>
      </li>
      <li>
        <a href="./logout">Logout</a>
      </li>
    <% } %>
    </ul>
  </nav>
</header>