<div class="home-view">
  <h1>Welcome</h1>

  <% for (const group of groups) { %>
    <h2><%= group.name %></h2>
  
    <% for (const project of group.projects) { %>
      <h3><%= project.name %></h3>
      <p>Latest commit: <%= project.latestCommit.title %></p>
    <% } %>
  <% } %>

</div>