<div class="home-view">
  <h1>Welcome</h1>

  <% if (!isLoggedIn) { %>
    <p>Click Log in to GitLab in the menu above to start using this site.</p>
  <% } else { %>
    <h3>Hello <%= userProfile.username %>!</h3>
  <% } %>

</div>